html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

/* Top Navigation */

#nav {
    position: relative;
}

#navUl {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

#navUl li {
    padding: 0.8rem 0;
    margin-top: 5px;
}

#navUl li a {
    margin-right: 1.5rem;
    text-decoration: none;
    color: #fff;
    text-align: center;
}

#navUl li a:hover {
    color: grey;
}

#topHeader {
    background-color: #000;
    width: 100%;
    z-index: 1;
    position: fixed;
}

#topHeader .logo {
    margin-right: 1rem;
    display: block;
    width: 72px;
    height: 48px;
    background: url(images/Logo.png) 50% no-repeat;
    background-size: 72px 48px;
    text-indent: -9999px;
    overflow: hidden;
    float: left;
    margin-left: 4rem;
}

#fuctionality {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 1rem;
    justify-content: space-around;
}

#weekly, #askGirls, #legSelfie {
    position: relative;
}

#weekly::after, #askGirls::after, #legSelfie::after {
    content: " ";
    display: block;
    position: absolute;
    top: -2px;
    right: -6px;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #4cd964;
}

#general {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    width: 290px;
}

#genral a {
    margin-right: 1.5rem;
}

#moods {
    display: block;
    width: 30px;
    height: 30px;
    float: left;
    text-indent: -999px;
    overflow: hidden;
    margin-right: 8px;
    background-image: url(images/Icons.png);
    background-size: 360px 60px;
    background-position: -330px 0;
}

#search {
    display: block;
    width: 30px;
    height: 30px;
    text-indent: -999px;
    overflow: hidden;
    background: url(images/SearchIcon.png) 0 0 no-repeat;
    background-size: 510px 120px;
    float: left;
}

#signUp, #upload .btn-primary {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    line-height: 30px;
    height: 30px;
    padding: 0 16px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 700;
    margin-left: 10px;
    background-color: #09f;
}

#signUp:hover, #upload .btn-primary:hover {
    background-color: #33adff;
}

#upload {
    display: none;
}

#logIn {
    width: auto;
    text-decoration: none;
    display: inline-block;
    color: #bbb;
    line-height: 30px;
    height: 30px;
    padding: 0 12px;
}

#chat {
    display: block;
    width: 30px;
    height: 30px;
    float: left;
    overflow: hidden;
    margin: 0 14px 0 0;
    cursor: pointer;
    border: none;
    position: relative;
    background: none;
    color: #999;
    padding: 3px 0 0 0;
}

#profilePic img {
    width: 30px;
    height: 30px;
    display: none;
    border: 0;
    border-radius: 50%;
}

#bellIcon a {
    display: none;
    width: 30px;
    height: 30px;
    position: relative;
    background: url(images/SearchIcon.png) -30px 0 no-repeat;
    background-size: 510px 120px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    line-height: 29px
}

#bellIcon a:hover {
    background: url(images/SearchIcon.png) -30px -30px no-repeat;
    background-size: 510px 120px;
}

/* Side Navigation */
#conteiner {
    display: block;
    width: 1196px;
    padding: 48px 0px 32px;
    position: relative;
    overflow: hidden;
    margin: 0 4.8rem;
    clear: both;
}

#sidebarNav {
    width: 209px;
    height: 100%;
    position: fixed;
    z-index: 1;
    overflow: hidden;
    overscroll-behavior: contain;
}

#scroller {
    padding-top: 8px;
    padding-right: 20px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

#firstNav, #thirdNav, #secondSection, #thirdSection {
    padding: 0 0 12px;
}

#firstNav ul, #secondNav ul, #thirdNav ul {
    display: block;
    margin-top: 1rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.header {
    margin-bottom: 8px;
    color: #999;
    font-size: 12px;
    font-weight: bold;
}

#firstNav li, #thirdNav li {
    list-style: none;
    position: relative;
}

.firstSection {
    color: #000;
    font-size: 14px;
    height: 36px;
    line-height: 20px;
    box-sizing: border-box;
    display: block;
    position: relative;
    border-radius: 2px;
    transition: background-color .15s, padding-right .15s;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 8px 8px 8px 36px;
    text-decoration: none;
}

.firstSection:hover, .secondSection:hover, .selected a {
    background-color: rgba(0, 0, 0, .05);
}

.selected a {
    font-weight: 700;
}

#secondSection li {
    position: relative;
}

.secondSection {
    color: #000;
    font-size: 14px;
    height: 36px;
    line-height: 20px;
    box-sizing: border-box;
    display: block;
    position: relative;
    border-radius: 2px;
    transition: background-color .15s, padding-right .15s;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 8px 8px 8px 36px;
    text-decoration: none;
}

.icon {
    position: absolute;
    width: 24px;
    height: 24px;
    background-size: 288px 48px;
    background-image: url(images/Icons.png);
    left: 4px;
    top: 50%;
    margin-top: -12px;
}

.more.icon {
    visibility: hidden;
    left: 160px;
    background-position: -72px 0;
    opacity: .4;
}

li:hover i.star, li:hover i.more, .hot {
    visibility: visible;
}

.star.icon {
    visibility: hidden;
    background-position: -240px 0;
    left: 160px;
    opacity: .4;
}

.hot.icon {
    background-position: -168px 0;
}

.trending.icon {
    background-position: -192px 0;
}

.fresh.icon {
    background-position: -216px 0;
}

.boards.icon {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTIwIDJINGMtMS4xIDAtMS45OS45LTEuOTkgMkwyIDIybDQtNGgxNGMxLjEgMCAyLS45IDItMlY0YzAtMS4xLS45LTItMi0yek05IDExSDdWOWgydjJ6bTQgMGgtMlY5aDJ2MnptNCAwaC0yVjloMnYyeiIgZmlsbD0iIzAwMCIvPjwvc3ZnPg==);
    background-size: 24px 24px;
}

.app.icon {
    background-position: -48px -25px;
}

.resize {
    background-size: 24px 24px;
    border-radius: 10%;
}

.location.icon {
    background-image: url(images/LocationIcon.jpeg);
}

.funny.icon {
    background-image: url(images/FunnyIcon.jpeg);
}

.nsfw.icon {
    background-image: url(images/NSFW_Icon.jpeg);
}

.girl.icon {
    background-image: url(images/Girl_Icon.jpeg);
}

.wtf.icon {
    background-image: url(images/WTF_Icon.jpeg);
}

.cryptocurrency.icon {
    background-image: url(images/CryptocurrencyIcon.jpeg);
}

.animeAndManga.icon {
    background-image: url(images/AnimeAndMangaIcon.jpeg);
}

.random.icon {
    background-image: url(images/RandomIcon.jpeg);
}

.animals.icon {
    background-image: url(images/AnimalsIcon.jpeg);
}

.animeWaifu.icon {
    background-image: url(images/AnimeWaifuIcon.jpeg);
}

.awesome.icon {
    background-image: url(images/AwesomeIcon.jpeg);
}

.car.icon {
    background-image: url(images/CarIcon.jpeg);
}

.comicAndWebtoon.icon {
    background-image: url(images/ComicAndWebtoonIcon.jpeg);
}

.cosplay.icon {
    background-image: url(images/CosplayIcon.jpeg);
}

.cyberpunk2077.icon {
    background-image: url(images/Cyberpunk2077Icon.jpeg);
}

.gaming.icon {
    background-image: url(images/GamingIcon.jpeg);
}

.gif.icon {
    background-image: url(images/GifIcon.jpeg);
}

.girlCelebrity.icon {
    background-image: url(images/GirlCelebrityIcon.jpeg);
}

.leagueOfLegends.icon {
    background-image: url(images/LeagueOfLegendsIcon.jpeg);
}

.meme.icon {
    background-image: url(images/MemeIcon.jpeg);
}

.politics.icon {
    background-image: url(images/PoliticsIcon.jpeg);
}

.relationship.icon {
    background-image: url(images/RelationshipIcon.jpeg);
}

.savage.icon {
    background-image: url(images/SavageIcon.jpeg);
}

.video.icon {
    background-image: url(images/VideoIcon.jpeg);
}

.amongUs.icon {
    background-image: url(images/AmongUsIcon.jpeg);
}

.animeWallpaper.icon {
    background-image: url(images/AnimeWallpaperIcon.jpeg);
}

.apexLegends.icon {
    background-image: url(images/ApexLegendsIcon.jpeg);
}

.ask9GAG.icon {
    background-image: url(images/Ask9GAG_Icon.jpeg);
}

.coronavirus.icon {
    background-image: url(images/CoronavirusIcon.jpeg);
}

.countryballs.icon {
    background-image: url(images/CountryballsIcon.jpeg);
}

.cozyAndComfy.icon {
    background-image: url(images/CozyAndComfyIcon.jpeg);
}

.crappyDesign.icon {
    background-image: url(images/CrappyDesignIcon.jpeg);
}

.drawingDIY_AndCrafts.icon {
    background-image: url(images/DrawingDIY_AndCraftsIcon.jpeg);
}

.fashionAndBeauty.icon {
    background-image: url(images/FashionAndBeautyIcon.jpeg);
}

.foodAndDrinks.icon {
    background-image: url(images/FoodAndDrinksIcon.jpeg);
}

.football.icon {
    background-image: url(images/Football_Icon.jpeg);
}

.fortnite.icon {
    background-image: url(images/FortniteIcon.jpeg);
}

.gameOfThrones.icon {
    background-image: url(images/GameOfThronesIcon.jpeg);
}

.guy.icon {
    background-image: url(images/GuyIcon.jpeg);
}

.history.icon {
    background-image: url(images/HistoryIcon.jpeg);
}

.horror.icon {
    background-image: url(images/HorrorIcon.jpeg);
}

.k_Pop.icon {
    background-image: url(images/K_PopIcon.jpeg);
}

.latestNews.icon {
    background-image: url(images/LatestNewsIcon.jpeg);
}

.lego.icon {
    background-image: url(images/LegoIcon.jpeg);
}

.marvelAndDC.icon {
    background-image: url(images/MarvelAndDC_Icon.jpeg);
}

.movieAndTV.icon {
    background-image: url(images/MovieAndTV_Icon.jpeg);
}

.music.icon {
    background-image: url(images/MusicIcon.jpeg);
}

.nba.icon {
    background-image: url(images/NbaIcon.jpeg);
}

.overwatch.icon {
    background-image: url(images/OverwatchIcon.jpeg);
}

.pcMasterRace.icon {
    background-image: url(images/PcMasterRaceIcon.jpeg);
}

.pokemon.icon {
    background-image: url(images/PokemonIcon.jpeg);
}

.pubg.icon {
    background-image: url(images/PubgIcon.jpeg);
}

.satisfying.icon {
    background-image: url(images/SatisfyingIcon.jpeg);
}

.scienceAndTech.icon {
    background-image: url(images/ScienceAndTechIcon.jpeg);
}

.sport.icon {
    background-image: url(images/SportIcon.jpeg);
}

.starWars.icon {
    background-image: url(images/StarWarsIcon.jpeg);
}

.teensCanRelate.icon {
    background-image: url(images/TeensCanRelateIcon.jpeg);
}

.travelAndPhotography.icon {
    background-image: url(images/TravelAndPhotographyIcon.jpeg);
}

.wallpaper.icon {
    background-image: url(images/WallpaperIcon.jpeg);
}

.warhammer.icon {
    background-image: url(images/WarhammerIcon.jpeg);
}

.wholesome.icon {
    background-image: url(images/WholesomeIcon.jpeg);
}

.darkHummor.icon {
    background-image: url(images/DrakHummorIcon.jpeg);
}